@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --background-gray: rgb(241, 243, 245);
    --background-blue: #5bc9eb;

    /* color */
    --blue: rgb(18, 146, 238)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

a {
    color: var(--text-light);
    text-decoration: none;
}

/* container */
.container-fluid{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-gray {
    background-color: var(--background-gray);
}

.background-blue {
    background-color: var(--background-blue);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.header {
    padding: 21px 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 1300px;
    width: 100%;
}

.header .logo img {
    width: 152px;
    margin-right: 25px;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header nav .menu {
}

.header nav  ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav ul li {
    padding: 13px 20px;
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    
}

header nav .sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header nav .sub-menu a {
    text-decoration: none;
    margin-left: 25px;
}

.header nav .sub-menu a:nth-child(2) {
    padding: 10px 20px;
    color: white;
    background-color: var(--blue);
    border-radius: 5px;
}


/* sub-header */

.sub-header {
    width: 100%;
    max-width: 1300px;
    padding: 21px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub-header nav ul{
    display: flex;
}

.sub-header nav ul li {
    list-style: none;
    margin: 0 25px;
}

.sub-header nav ul li:nth-child(1) {
    margin-left: 0;
    
}

.sub-header nav ul li:nth-child(1) a {
    color: black;
}

.sub-header .search-bar {
    width: 100%;
    max-width: 300px;
}

.sub-header form {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.sub-header form input {
    width: 90%;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    user-select: none;
}

.sub-header form button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
}


/* ***************** */

/* main */

.main .banner {
    width: 100%;
    max-width: 1300px;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
}

.main .banner .content {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.main .banner .content h3 {
    color: var(--white);
    font-size: 14px;
    line-height: 1.6em;
    opacity: 0.75;
    margin: 8px 0px;
}

.main .banner .content a {
    color: var(--white);
    font-size: 44px;
    margin: 0px;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease 0s;
    cursor: pointer;
}

/* box-items */
.box-items {
    width: 100%;
    max-width: 1320px;
    padding: 50px 25px;
    display: flex;
    flex-wrap: wrap;
}

.box-item {
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--background-blue);
}

.box-item h3 {
    padding: 10px 0;
}

.box-item p {
    padding: 20px 10px;
}

.footer-background {
    background-color: rgb(29, 43, 54);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin: 72px 25px;
    align-items: center;
}

.footer .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}

.footer-background .main-footer > div {
    width: 25%;
    padding: 0 10px;
    color: white;
}

.footer-background .main-footer .title-footer img{
    width: 40px;
    margin-bottom: 10px;
}

.footer-background .main-footer > div h2 {
    padding-bottom: 10px;
    color: white;
}


.footer-background .main-footer div li {
    padding: 6px 0;
    list-style: none;
}

.footer-background .main-footer > div  a {
    color: rgb(147, 161, 176);
    font-weight: 100;
}

.sub-footer {
    display: flex;
    width: 100%;
    max-width: 1275px;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid;
}

.social-media{
    width: 100%;
}

.social-media ul{
    display: flex;
    width: 100%;
}

.social-media ul li {
    padding: 0 5px;
    list-style: none;
    font-size: 2rem;
}

.social-media a {
    color: #0077CC;
}

.sub-footer .signed {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white
}

.sub-footer .signed img {
    width: 50px;
    height: 15px;
    padding-right: 10px;
}
.sub-footer .signed h2 {
    font-size: 14px;
    font-weight: 500;
}

.sub-footer .signed h3 {
    color: rgb(147, 161, 176);
    padding-left: 10px;
    font-size: 13px;
    font-weight: 100;
}